html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: aqua;
}

.tarea{
    width: 200px;
    height: 200px;
    background-color:rgb(211, 162, 55);
    margin: 10px;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.cabecera{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 1%;
}

.menuLateral{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 31px 10px 0px 10px;
    height: 100%;
    background: #ffffff;
    box-shadow: 1px 0px 0px #D5D7DC
}

.menuLateral button {
    background-color: white;
    border-radius: 8px;
    margin: 10px;
}

.producto{
    margin: 8px;
    height: 200px;
    width: 200px;
}

.contenedorProductos{
    display: flex;

}

.loginImage{
    width: 100%;
    height: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.categoriaLateral{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0px 10px 0px 10px;
    height: 100%;
    background: #ffffff;
    box-shadow: 1px 0px 0px #D5D7DC;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

.imagenCategoria{
    width: 20% !important;
    margin-bottom: 8px;
    border-radius: 8px;
}

.Drop{
    padding: 8px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    border-bottom: 2px solid #1E1E1E;
    
}

.contenedorProducto{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.contenedorCategoria{
    display: flex;
    flex-direction: column;
}

.contenedorVenta{
    margin: 16px;
}

input{
    border-radius: 4px;
}

form * {
    width: 300px;
}